In [4]:
%matplotlib inline

In [5]:
import matplotlib as mpl

In [6]:
import matplotlib.pyplot as plt

In [7]:
import matplotlib.font_manager as fm

In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
adult_csv = pd.read_csv("adult_with_pii.csv")

In [11]:
print(len(adult_csv))

32564

In [12]:
adult_csv.iloc[:, :5]

                   Name        DOB          SSN      Zip         Workclass
0      Karrie Trusslove   9/7/1967  732-14-6110  64152.0         State-gov
1      Brandise Tripony   6/7/1988  150-19-2766  61523.0  Self-emp-not-inc
2         Brenn McNeely   8/6/1991  725-59-9860  95668.0           Private
3           Dorry Poter   4/6/2009  659-57-4974  25503.0           Private
4           Dick Honnan  9/16/1951  220-93-3811  75387.0           Private
...                 ...        ...          ...      ...               ...
32559     Jean O'Connor  6/28/1952  737-32-2919  94735.0           Private
32560  Reuben Skrzynski   8/9/1966  314-48-0219  49628.0           Private
32561       Caye Biddle  5/19/1978  647-75-3550   8213.0           Private
32562          Hortense        NaN          NaN      NaN               NaN
32563          Hardesty  5/11/2012  690-42-5638  86153.0      Self-emp-inc

[32564 rows x 5 columns]

In [13]:
adult_sans_pii = adult_csv.copy().drop(columns=['Name', 'SSN'])

In [15]:
adult_pii = adult_csv[['Name', 'DOB', 'SSN', 'Zip']]

In [16]:
adult_sans_pii.head(1).iloc[:, :5]

        DOB      Zip  Workclass  Education  Education-Num
0  9/7/1967  64152.0  State-gov  Bachelors           13.0

In [18]:
karries_row = adult_csv[adult_csv['Name'] == 'Karrie Trusslove']

In [19]:
karries_row

,Name,DOB,SSN,Zip,Workclass,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Hours per week,Country,Target,Age,Capital Gain,Capital Loss
0,Karrie Trusslove,9/7/1967,732-14-6110,64152.0,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,40.0,United-States,<=50K,56.0,2174.0,0.0

In [33]:
r = pd.merge(karries_row, adult_sans_pii, left_on=['DOB', 'Zip'], right_on = ['DOB', 'Zip'])

In [34]:
r

,Name,DOB,SSN,Zip,Workclass_x,Education_x,Education-Num_x,Marital Status_x,Occupation_x,Relationship_x,...,Occupation_y,Relationship_y,Race_y,Sex_y,Hours per week_y,Country_y,Target_y,Age_y,Capital Gain_y,Capital Loss_y
0,Karrie Trusslove,9/7/1967,732-14-6110,64152.0,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,...,Adm-clerical,Not-in-family,White,Male,40.0,United-States,<=50K,56.0,2174.0,0.0

In [38]:
# De-identification Attack
r['Target_y']

0    <=50K
Name: Target_y, dtype: object